
nav {
    background-color: bisque;
    float: right;
    height: 48px;
}

header {
    background-color: burlywood;
}

ul {
    list-style-type: none;
    font-size: 2rem;
    margin-right: 4rem;
    background-color: yellow;
}

li {
    display: inline;
    background-color: aquamarine;
}

li a {
    text-decoration: none;
    color: black;
}

span {
    font-size: 3rem;
}

#logo {
    display: inline-block;
    background-color: chocolate;
    margin-left: 5rem;
}